html{
    height:100%;
}
body{
    background-color: lightgoldenrodyellow;
}
header{
    border:solid black 1px;
    background-color: lightblue;
}
h1{
    font-size: xx-large;
    padding:10px;
    text-align: center;
    font-weight: bold;
}
aside{
    /* width:33%; */
    height:800px;
    background-color: lightblue;
}
div{
    /* width:33.2%; */
    height: 800px;
}
section{
    /* width: 33.2%; */
    height: 800px;
    background-color: lightblue;
}
li{
    font-size: larger;
    font-weight: bold;
    padding:5px;
}
h2{
    font-size: larger;
    font-weight: bold;
    padding: 5px;
}
p{
    font-size: large;
    padding:5px;
}
h3{
    font-size: larger;
    font-weight: bold;
    padding:15px;
}
footer{
    background-color: lightblue;
    text-align: center;
    padding:10px;
    color:gray;
    border:1px solid black;
    border-top:none;
}